
<h1>test html5</h1>

<p>检测您的浏览器是否支持 HTML5 ：</p>

<div id="checkVideoResult" style="margin:10px 0 0 0; border:0; padding:0;">
  <button onclick="checkVideo()" style="font-family:Arial, Helvetica, sans-serif;">Check</button>
</div>

</p>

<p>
<a href="check_html5_support">1.check if your browser support HTML5</a>
<p>
<a href="video_audio">2.video and audio and their details</a>

