<!DOCTYPE html>
<html>
<head>
  <title>Html5</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "modernizr-2.5.3", "check_support"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
